<a href="/user/createport">Create a portfolio</a> <br>
<a href="../feed">go to feed</a> <br>
<a href="../feed/search">go to search</a> <br>
<a href="/user/editprofile">edit profile</a> <br>
<a href="/user/logout">logout</a> <br><br>

{{title}} <br>

{{#if User}}
    <div class="profile">
        <img src="../public/img/{{User.profilePicture}}" alt="profile image" width="100" height="100"><br>
        Name: {{User.firstName}} {{User.lastName}} <br>
        Username: {{User.Username}} <br>
        Email: {{User.Email}} <br>
        Bio: {{User.Bio}} <br>
        Age: {{User.Age}}
    </div>
{{/if}}

{{#each Portfolio}}
    <div class="portfolio">
        <h1>{{Subject}}</h1> <br>
        <p>
            Create Date: {{createDate}} <br>
            Last Update: {{lastUpdate}} <br>
        </p>
    </div>
{{/each}}