<a href="/user/profile">Profile</a> <br>
<a href="../feed">go to feed</a> <br>
<a href="/user/logout">logout</a> <br>

<form action="/feed/search" method="POST" id="search-form">
<label for="searchBy">Search by:</label>
<select name="searchType" id="searchType">
    <option value="username">Username</option>
    <option value="subject">Subject</option>
    <option value="tag">Tag</option>
</select>
<input type="text" name="searchInput" id="searchInput" placeholder="Search" autocomplete="off"/>
<button type="submit">Search</button>
</form> <br>
<div id="error" class="error">{{error}}</div><br>

<script src="public/js/clientValidation.js"></script>

{{Query}}<br>

{{#each searchResults}}
    <p class="search-results">
        {{Username}}<br>
        {{Email}}<br>
        {{Bio}}
    </p>
{{/each}}


