{{title}} <br>

<a href="../search">back to search</a> <br>
<a href="../">go to feed</a> <br>
<a href="/user/profile">Go to profile</a> <br>


{{#if User}}
    <div class="profile">
        <img src="/public/img/{{User.profilePicture}}" alt="profile image" width="100" height="100"><br>
        Name: {{User.firstName}} {{User.lastName}} <br>
        Username: {{User.Username}} <br>
        Email: {{User.Email}} <br>
        Bio: {{User.Bio}} <br>
    </div>
{{/if}}
<form action="/feed/user/{{User.Username}}" method="POST" id="follow-form">
<button type="submit">Follow</button>
</form>
{{followed}}
<div id="error" class="error">{{error}}</div>

{{#each Portfolio}}
    <div class="portfolio">
        <h1>{{Subject}}</h1> <br>
        <p>
            Create Date: {{createDate}} <br>
            Last Update: {{lastUpdate}} <br>
        </p>
    </div>
{{/each}}

<script src="../../public/js/clientValidation.js"></script>

